.cards {
  margin: 0;
  padding: 0;
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.cards::after {
  width: 240px;
  list-style: none;
  margin-top: 60px;
  content: ""
}